<div class="opsportal-stage-container opsportal-padding-bottom-2x" id="hris-stage-user">

	<div class="opsportal-stage-main" id="hris-user-legal" style="display: none;">

		<div class="gen-btn-list">
			<h2 class="opsportal-stage-title">Jonathan Smith &nbsp;|&nbsp; Legal Information</h2>
		</div>
		
		<!-- PASSPORT INFORMATION -->
		<div class="row" id="">
			<div class="col-xs-10 col-xs-offset-1 opsportal-content-block hris-user-edit">
				<div class="gen-btn-list">
					<h5 class="opsportal-content-block-title">Passport Information</h5>
					<ul class="list-unstyled list-inline">
					<li><a href="#hris-add-passport" class="btn opsportal-btn opsportal-btn-dk" role="button" data-toggle="modal">Add <em>Passport</em></a></li>
					</ul>
				</div>
				
				<div class="row">
					<div class="col-xs-12">
					
						<table class="table opsportal-table hris-profile-table-edit">
							<thead>
								<tr>
									<th>Name</th>
									<th>Number</th>
									<th>Country</th>
									<th>Issue Date</th>
									<th>Expire Date</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Jonathan A. Smith</td>
									<td>1234567890</td>
									<td>USA</td>
									<td>2010-01-01</td>
									<td>2020-01-01</td>
									<td>
										<span class="icon opsportal-item-icon tt"><a href="#hris-edit-passport" class="tt" title="Edit Passport Info" data-placement="top" data-toggle="modal"><i class="fa fa-pencil fa-fw hris-icon-fw"></i></a></span>
										<span class="icon opsportal-item-icon tt"><a href="#" class="tt" title="Delete Passport Info" data-placement="top"><i class="fa fa-times fa-fw hris-icon-fw"></i></a></span>
										
									</td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<!-- ADD NEW PASSPORT INFO -->
		<div class="modal fade" id="hris-add-passport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Add Passport Information</h4>
				</div>
				<div class="modal-body">
					<div class="hris-form-container" id="hris-edit-passport-form">
					<form class="form-horizontal">
					<fieldset>

					<!-- Form Name -->
					<legend class="hidden">Edit Passport Information</legend>

					<div class="form-group">
						<div class="col-xs-12">
							<div class="row opsportal-margin-top">
									<label class="col-xs-4 control-label" for="textinput">Name on Passport *</label>  
									<div class="col-xs-7"><input id="textinput" name="textinput" type="text" placeholder="Name on Passport" class="form-control input-md"></div>
									<div class="col-xs-1 opsportal-nopadding hris-form-help"><a href="#" class="some-class po-help" data-content="Enter the full name as it appears on the passport." data-placement="top" data-trigger="hover"><i class="fa fa-question-circle fa-lg"></i></a></div>
							</div>
							
							<div class="row opsportal-margin-top">
									<label class="col-xs-4 control-label" for="textinput">Passport Number *</label>  
									<div class="col-xs-7"><input id="textinput" name="textinput" type="text" placeholder="Passport Number" class="form-control input-md"></div>
									<div class="col-xs-1 opsportal-nopadding hris-form-help"><a href="#" class="some-class po-help" data-content="Enter the passport number." data-placement="top" data-trigger="hover"><i class="fa fa-question-circle fa-lg"></i></a></div>
							</div>

							<div class="row opsportal-margin-top">
									<label class="col-xs-4 control-label" for="textinput">Passport Number *</label>  
									<div class="col-xs-7">
							<select name="" class="form-control" title="Passport Country">
								<option value="AFG">Afghanistan</option>
								<option value="ALA">Åland Islands</option>
								<option value="ALB">Albania</option>
								<option value="DZA">Algeria</option>
								<option value="ASM">American Samoa</option>
								<option value="AND">Andorra</option>
								<option value="AGO">Angola</option>
								<option value="AIA">Anguilla</option>
								<option value="ATA">Antarctica</option>
								<option value="ATG">Antigua and Barbuda</option>
								<option value="ARG">Argentina</option>
								<option value="ARM">Armenia</option>
								<option value="ABW">Aruba</option>
								<option value="AUS">Australia</option>
								<option value="AUT">Austria</option>
								<option value="AZE">Azerbaijan</option>
								<option value="BHS">Bahamas</option>
								<option value="BHR">Bahrain</option>
								<option value="BGD">Bangladesh</option>
								<option value="BRB">Barbados</option>
								<option value="BLR">Belarus</option>
								<option value="BEL">Belgium</option>
								<option value="BLZ">Belize</option>
								<option value="BEN">Benin</option>
								<option value="BMU">Bermuda</option>
								<option value="BTN">Bhutan</option>
								<option value="BOL">Bolivia, Plurinational State of</option>
								<option value="BES">Bonaire, Sint Eustatius and Saba</option>
								<option value="BIH">Bosnia and Herzegovina</option>
								<option value="BWA">Botswana</option>
								<option value="BVT">Bouvet Island</option>
								<option value="BRA">Brazil</option>
								<option value="IOT">British Indian Ocean Territory</option>
								<option value="BRN">Brunei Darussalam</option>
								<option value="BGR">Bulgaria</option>
								<option value="BFA">Burkina Faso</option>
								<option value="BDI">Burundi</option>
								<option value="KHM">Cambodia</option>
								<option value="CMR">Cameroon</option>
								<option value="CAN">Canada</option>
								<option value="CPV">Cape Verde</option>
								<option value="CYM">Cayman Islands</option>
								<option value="CAF">Central African Republic</option>
								<option value="TCD">Chad</option>
								<option value="CHL">Chile</option>
								<option value="CHN">China</option>
								<option value="CXR">Christmas Island</option>
								<option value="CCK">Cocos (Keeling) Islands</option>
								<option value="COL">Colombia</option>
								<option value="COM">Comoros</option>
								<option value="COG">Congo</option>
								<option value="COD">Congo, the Democratic Republic of the</option>
								<option value="COK">Cook Islands</option>
								<option value="CRI">Costa Rica</option>
								<option value="CIV">Côte d'Ivoire</option>
								<option value="HRV">Croatia</option>
								<option value="CUB">Cuba</option>
								<option value="CUW">Curaçao</option>
								<option value="CYP">Cyprus</option>
								<option value="CZE">Czech Republic</option>
								<option value="DNK">Denmark</option>
								<option value="DJI">Djibouti</option>
								<option value="DMA">Dominica</option>
								<option value="DOM">Dominican Republic</option>
								<option value="ECU">Ecuador</option>
								<option value="EGY">Egypt</option>
								<option value="SLV">El Salvador</option>
								<option value="GNQ">Equatorial Guinea</option>
								<option value="ERI">Eritrea</option>
								<option value="EST">Estonia</option>
								<option value="ETH">Ethiopia</option>
								<option value="FLK">Falkland Islands (Malvinas)</option>
								<option value="FRO">Faroe Islands</option>
								<option value="FJI">Fiji</option>
								<option value="FIN">Finland</option>
								<option value="FRA">France</option>
								<option value="GUF">French Guiana</option>
								<option value="PYF">French Polynesia</option>
								<option value="ATF">French Southern Territories</option>
								<option value="GAB">Gabon</option>
								<option value="GMB">Gambia</option>
								<option value="GEO">Georgia</option>
								<option value="DEU">Germany</option>
								<option value="GHA">Ghana</option>
								<option value="GIB">Gibraltar</option>
								<option value="GRC">Greece</option>
								<option value="GRL">Greenland</option>
								<option value="GRD">Grenada</option>
								<option value="GLP">Guadeloupe</option>
								<option value="GUM">Guam</option>
								<option value="GTM">Guatemala</option>
								<option value="GGY">Guernsey</option>
								<option value="GIN">Guinea</option>
								<option value="GNB">Guinea-Bissau</option>
								<option value="GUY">Guyana</option>
								<option value="HTI">Haiti</option>
								<option value="HMD">Heard Island and McDonald Islands</option>
								<option value="VAT">Holy See (Vatican City State)</option>
								<option value="HND">Honduras</option>
								<option value="HKG">Hong Kong</option>
								<option value="HUN">Hungary</option>
								<option value="ISL">Iceland</option>
								<option value="IND">India</option>
								<option value="IDN">Indonesia</option>
								<option value="IRN">Iran, Islamic Republic of</option>
								<option value="IRQ">Iraq</option>
								<option value="IRL">Ireland</option>
								<option value="IMN">Isle of Man</option>
								<option value="ISR">Israel</option>
								<option value="ITA">Italy</option>
								<option value="JAM">Jamaica</option>
								<option value="JPN">Japan</option>
								<option value="JEY">Jersey</option>
								<option value="JOR">Jordan</option>
								<option value="KAZ">Kazakhstan</option>
								<option value="KEN">Kenya</option>
								<option value="KIR">Kiribati</option>
								<option value="PRK">Korea, Democratic People's Republic of</option>
								<option value="KOR">Korea, Republic of</option>
								<option value="KWT">Kuwait</option>
								<option value="KGZ">Kyrgyzstan</option>
								<option value="LAO">Lao People's Democratic Republic</option>
								<option value="LVA">Latvia</option>
								<option value="LBN">Lebanon</option>
								<option value="LSO">Lesotho</option>
								<option value="LBR">Liberia</option>
								<option value="LBY">Libya</option>
								<option value="LIE">Liechtenstein</option>
								<option value="LTU">Lithuania</option>
								<option value="LUX">Luxembourg</option>
								<option value="MAC">Macao</option>
								<option value="MKD">Macedonia, the former Yugoslav Republic of</option>
								<option value="MDG">Madagascar</option>
								<option value="MWI">Malawi</option>
								<option value="MYS">Malaysia</option>
								<option value="MDV">Maldives</option>
								<option value="MLI">Mali</option>
								<option value="MLT">Malta</option>
								<option value="MHL">Marshall Islands</option>
								<option value="MTQ">Martinique</option>
								<option value="MRT">Mauritania</option>
								<option value="MUS">Mauritius</option>
								<option value="MYT">Mayotte</option>
								<option value="MEX">Mexico</option>
								<option value="FSM">Micronesia, Federated States of</option>
								<option value="MDA">Moldova, Republic of</option>
								<option value="MCO">Monaco</option>
								<option value="MNG">Mongolia</option>
								<option value="MNE">Montenegro</option>
								<option value="MSR">Montserrat</option>
								<option value="MAR">Morocco</option>
								<option value="MOZ">Mozambique</option>
								<option value="MMR">Myanmar</option>
								<option value="NAM">Namibia</option>
								<option value="NRU">Nauru</option>
								<option value="NPL">Nepal</option>
								<option value="NLD">Netherlands</option>
								<option value="NCL">New Caledonia</option>
								<option value="NZL">New Zealand</option>
								<option value="NIC">Nicaragua</option>
								<option value="NER">Niger</option>
								<option value="NGA">Nigeria</option>
								<option value="NIU">Niue</option>
								<option value="NFK">Norfolk Island</option>
								<option value="MNP">Northern Mariana Islands</option>
								<option value="NOR">Norway</option>
								<option value="OMN">Oman</option>
								<option value="PAK">Pakistan</option>
								<option value="PLW">Palau</option>
								<option value="PSE">Palestinian Territory, Occupied</option>
								<option value="PAN">Panama</option>
								<option value="PNG">Papua New Guinea</option>
								<option value="PRY">Paraguay</option>
								<option value="PER">Peru</option>
								<option value="PHL">Philippines</option>
								<option value="PCN">Pitcairn</option>
								<option value="POL">Poland</option>
								<option value="PRT">Portugal</option>
								<option value="PRI">Puerto Rico</option>
								<option value="QAT">Qatar</option>
								<option value="REU">Réunion</option>
								<option value="ROU">Romania</option>
								<option value="RUS">Russian Federation</option>
								<option value="RWA">Rwanda</option>
								<option value="BLM">Saint Barthélemy</option>
								<option value="SHN">Saint Helena, Ascension and Tristan da Cunha</option>
								<option value="KNA">Saint Kitts and Nevis</option>
								<option value="LCA">Saint Lucia</option>
								<option value="MAF">Saint Martin (French part)</option>
								<option value="SPM">Saint Pierre and Miquelon</option>
								<option value="VCT">Saint Vincent and the Grenadines</option>
								<option value="WSM">Samoa</option>
								<option value="SMR">San Marino</option>
								<option value="STP">Sao Tome and Principe</option>
								<option value="SAU">Saudi Arabia</option>
								<option value="SEN">Senegal</option>
								<option value="SRB">Serbia</option>
								<option value="SYC">Seychelles</option>
								<option value="SLE">Sierra Leone</option>
								<option value="SGP">Singapore</option>
								<option value="SXM">Sint Maarten (Dutch part)</option>
								<option value="SVK">Slovakia</option>
								<option value="SVN">Slovenia</option>
								<option value="SLB">Solomon Islands</option>
								<option value="SOM">Somalia</option>
								<option value="ZAF">South Africa</option>
								<option value="SGS">South Georgia and the South Sandwich Islands</option>
								<option value="SSD">South Sudan</option>
								<option value="ESP">Spain</option>
								<option value="LKA">Sri Lanka</option>
								<option value="SDN">Sudan</option>
								<option value="SUR">Suriname</option>
								<option value="SJM">Svalbard and Jan Mayen</option>
								<option value="SWZ">Swaziland</option>
								<option value="SWE">Sweden</option>
								<option value="CHE">Switzerland</option>
								<option value="SYR">Syrian Arab Republic</option>
								<option value="TWN">Taiwan, Province of China</option>
								<option value="TJK">Tajikistan</option>
								<option value="TZA">Tanzania, United Republic of</option>
								<option value="THA">Thailand</option>
								<option value="TLS">Timor-Leste</option>
								<option value="TGO">Togo</option>
								<option value="TKL">Tokelau</option>
								<option value="TON">Tonga</option>
								<option value="TTO">Trinidad and Tobago</option>
								<option value="TUN">Tunisia</option>
								<option value="TUR">Turkey</option>
								<option value="TKM">Turkmenistan</option>
								<option value="TCA">Turks and Caicos Islands</option>
								<option value="TUV">Tuvalu</option>
								<option value="UGA">Uganda</option>
								<option value="UKR">Ukraine</option>
								<option value="ARE">United Arab Emirates</option>
								<option value="GBR">United Kingdom</option>
								<option value="USA">United States</option>
								<option value="UMI">United States Minor Outlying Islands</option>
								<option value="URY">Uruguay</option>
								<option value="UZB">Uzbekistan</option>
								<option value="VUT">Vanuatu</option>
								<option value="VEN">Venezuela, Bolivarian Republic of</option>
								<option value="VNM">Viet Nam</option>
								<option value="VGB">Virgin Islands, British</option>
								<option value="VIR">Virgin Islands, U.S.</option>
								<option value="WLF">Wallis and Futuna</option>
								<option value="ESH">Western Sahara</option>
								<option value="YEM">Yemen</option>
								<option value="ZMB">Zambia</option>
								<option value="ZWE">Zimbabwe</option>
							</select>
							</div>
							<div class="col-xs-1 opsportal-nopadding hris-form-help"><a href="#" class="some-class po-help" data-content="Enter the issuing country." data-placement="top" data-trigger="hover"><i class="fa fa-question-circle fa-lg"></i></a></div>
					</div>

							<div class="row opsportal-margin-top">
									<label class="col-xs-4 control-label" for="textinput">Issue Date *</label>  
									<div class="col-xs-7"><input id="textinput" type="text" type="text" class="form-control input-md hris-form-datepicker"></div>
									<div class="col-xs-1 opsportal-nopadding hris-form-help"><a href="#" class="some-class po-help" data-content="Enter the date of issue." data-placement="top" data-trigger="hover"><i class="fa fa-question-circle fa-lg"></i></a></div>
							</div>
							
							<div class="row opsportal-margin-top">
									<label class="col-xs-4 control-label" for="textinput">Expiration Date *</label>  
									<div class="col-xs-7"><input id="textinput" type="text" type="text" class="form-control input-md hris-form-datepicker"></div>
									<div class="col-xs-1 opsportal-nopadding hris-form-help"><a href="#" class="some-class po-help" data-content="Enter the date of expiration." data-placement="top" data-trigger="hover"><i class="fa fa-question-circle fa-lg"></i></a></div>
							</div>
							
							<div class="row opsportal-margin-top">
							<p class="col-xs-12">* Required Field</p>
							</div>
							
						</div>
					</div>

					</fieldset>
					</form>
					</div> <!-- end #hris-user-legal -->
					
				</div><!-- .container -->

				<div class="modal-footer">
					<button type="button" class="btn opsportal-btn opsportal-btn-dk" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary pull-right opsportal-btn">Save</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		<!-- END ADD NEW PASSPORT INFO -->
		
		<!-- EDIT PASSPORT INFO -->
		<div class="modal fade" id="hris-edit-passport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Edit Passport Information</h4>
				</div>
				<div class="modal-body">
					<div class="hris-form-container" id="hris-edit-passport-form">
					<form class="form-horizontal">
					<fieldset>

					<!-- Form Name -->
					<legend class="hidden">Edit Passport Information</legend>

					<div class="form-group">
						<div class="col-xs-12">
							<div class="row opsportal-margin-top">
									<label class="col-xs-4 control-label" for="textinput">Name on Passport *</label>  
									<div class="col-xs-7"><input id="textinput" name="textinput" type="text" placeholder="Name on Passport" class="form-control input-md" value="Jonathan A. Smith"></div>
									<div class="col-xs-1 opsportal-nopadding hris-form-help"><a href="#" class="some-class po-help" data-content="Enter the full name as it appears on the passport." data-placement="top" data-trigger="hover"><i class="fa fa-question-circle fa-lg"></i></a></div>
							</div>
							
							<div class="row opsportal-margin-top">
									<label class="col-xs-4 control-label" for="textinput">Passport Number *</label>  
									<div class="col-xs-7"><input id="textinput" name="textinput" type="text" placeholder="Passport Number" class="form-control input-md" value="1234567890"></div>
									<div class="col-xs-1 opsportal-nopadding hris-form-help"><a href="#" class="some-class po-help" data-content="Enter the passport number." data-placement="top" data-trigger="hover"><i class="fa fa-question-circle fa-lg"></i></a></div>
							</div>

							<div class="row opsportal-margin-top">
									<label class="col-xs-4 control-label" for="textinput">Passport Number *</label>  
									<div class="col-xs-7">
							<select name="" class="form-control" title="Passport Country">
								<option value="AFG">Afghanistan</option>
								<option value="ALA">Åland Islands</option>
								<option value="ALB">Albania</option>
								<option value="DZA">Algeria</option>
								<option value="ASM">American Samoa</option>
								<option value="AND">Andorra</option>
								<option value="AGO">Angola</option>
								<option value="AIA">Anguilla</option>
								<option value="ATA">Antarctica</option>
								<option value="ATG">Antigua and Barbuda</option>
								<option value="ARG">Argentina</option>
								<option value="ARM">Armenia</option>
								<option value="ABW">Aruba</option>
								<option value="AUS">Australia</option>
								<option value="AUT">Austria</option>
								<option value="AZE">Azerbaijan</option>
								<option value="BHS">Bahamas</option>
								<option value="BHR">Bahrain</option>
								<option value="BGD">Bangladesh</option>
								<option value="BRB">Barbados</option>
								<option value="BLR">Belarus</option>
								<option value="BEL">Belgium</option>
								<option value="BLZ">Belize</option>
								<option value="BEN">Benin</option>
								<option value="BMU">Bermuda</option>
								<option value="BTN">Bhutan</option>
								<option value="BOL">Bolivia, Plurinational State of</option>
								<option value="BES">Bonaire, Sint Eustatius and Saba</option>
								<option value="BIH">Bosnia and Herzegovina</option>
								<option value="BWA">Botswana</option>
								<option value="BVT">Bouvet Island</option>
								<option value="BRA">Brazil</option>
								<option value="IOT">British Indian Ocean Territory</option>
								<option value="BRN">Brunei Darussalam</option>
								<option value="BGR">Bulgaria</option>
								<option value="BFA">Burkina Faso</option>
								<option value="BDI">Burundi</option>
								<option value="KHM">Cambodia</option>
								<option value="CMR">Cameroon</option>
								<option value="CAN">Canada</option>
								<option value="CPV">Cape Verde</option>
								<option value="CYM">Cayman Islands</option>
								<option value="CAF">Central African Republic</option>
								<option value="TCD">Chad</option>
								<option value="CHL">Chile</option>
								<option value="CHN">China</option>
								<option value="CXR">Christmas Island</option>
								<option value="CCK">Cocos (Keeling) Islands</option>
								<option value="COL">Colombia</option>
								<option value="COM">Comoros</option>
								<option value="COG">Congo</option>
								<option value="COD">Congo, the Democratic Republic of the</option>
								<option value="COK">Cook Islands</option>
								<option value="CRI">Costa Rica</option>
								<option value="CIV">Côte d'Ivoire</option>
								<option value="HRV">Croatia</option>
								<option value="CUB">Cuba</option>
								<option value="CUW">Curaçao</option>
								<option value="CYP">Cyprus</option>
								<option value="CZE">Czech Republic</option>
								<option value="DNK">Denmark</option>
								<option value="DJI">Djibouti</option>
								<option value="DMA">Dominica</option>
								<option value="DOM">Dominican Republic</option>
								<option value="ECU">Ecuador</option>
								<option value="EGY">Egypt</option>
								<option value="SLV">El Salvador</option>
								<option value="GNQ">Equatorial Guinea</option>
								<option value="ERI">Eritrea</option>
								<option value="EST">Estonia</option>
								<option value="ETH">Ethiopia</option>
								<option value="FLK">Falkland Islands (Malvinas)</option>
								<option value="FRO">Faroe Islands</option>
								<option value="FJI">Fiji</option>
								<option value="FIN">Finland</option>
								<option value="FRA">France</option>
								<option value="GUF">French Guiana</option>
								<option value="PYF">French Polynesia</option>
								<option value="ATF">French Southern Territories</option>
								<option value="GAB">Gabon</option>
								<option value="GMB">Gambia</option>
								<option value="GEO">Georgia</option>
								<option value="DEU">Germany</option>
								<option value="GHA">Ghana</option>
								<option value="GIB">Gibraltar</option>
								<option value="GRC">Greece</option>
								<option value="GRL">Greenland</option>
								<option value="GRD">Grenada</option>
								<option value="GLP">Guadeloupe</option>
								<option value="GUM">Guam</option>
								<option value="GTM">Guatemala</option>
								<option value="GGY">Guernsey</option>
								<option value="GIN">Guinea</option>
								<option value="GNB">Guinea-Bissau</option>
								<option value="GUY">Guyana</option>
								<option value="HTI">Haiti</option>
								<option value="HMD">Heard Island and McDonald Islands</option>
								<option value="VAT">Holy See (Vatican City State)</option>
								<option value="HND">Honduras</option>
								<option value="HKG">Hong Kong</option>
								<option value="HUN">Hungary</option>
								<option value="ISL">Iceland</option>
								<option value="IND">India</option>
								<option value="IDN">Indonesia</option>
								<option value="IRN">Iran, Islamic Republic of</option>
								<option value="IRQ">Iraq</option>
								<option value="IRL">Ireland</option>
								<option value="IMN">Isle of Man</option>
								<option value="ISR">Israel</option>
								<option value="ITA">Italy</option>
								<option value="JAM">Jamaica</option>
								<option value="JPN">Japan</option>
								<option value="JEY">Jersey</option>
								<option value="JOR">Jordan</option>
								<option value="KAZ">Kazakhstan</option>
								<option value="KEN">Kenya</option>
								<option value="KIR">Kiribati</option>
								<option value="PRK">Korea, Democratic People's Republic of</option>
								<option value="KOR">Korea, Republic of</option>
								<option value="KWT">Kuwait</option>
								<option value="KGZ">Kyrgyzstan</option>
								<option value="LAO">Lao People's Democratic Republic</option>
								<option value="LVA">Latvia</option>
								<option value="LBN">Lebanon</option>
								<option value="LSO">Lesotho</option>
								<option value="LBR">Liberia</option>
								<option value="LBY">Libya</option>
								<option value="LIE">Liechtenstein</option>
								<option value="LTU">Lithuania</option>
								<option value="LUX">Luxembourg</option>
								<option value="MAC">Macao</option>
								<option value="MKD">Macedonia, the former Yugoslav Republic of</option>
								<option value="MDG">Madagascar</option>
								<option value="MWI">Malawi</option>
								<option value="MYS">Malaysia</option>
								<option value="MDV">Maldives</option>
								<option value="MLI">Mali</option>
								<option value="MLT">Malta</option>
								<option value="MHL">Marshall Islands</option>
								<option value="MTQ">Martinique</option>
								<option value="MRT">Mauritania</option>
								<option value="MUS">Mauritius</option>
								<option value="MYT">Mayotte</option>
								<option value="MEX">Mexico</option>
								<option value="FSM">Micronesia, Federated States of</option>
								<option value="MDA">Moldova, Republic of</option>
								<option value="MCO">Monaco</option>
								<option value="MNG">Mongolia</option>
								<option value="MNE">Montenegro</option>
								<option value="MSR">Montserrat</option>
								<option value="MAR">Morocco</option>
								<option value="MOZ">Mozambique</option>
								<option value="MMR">Myanmar</option>
								<option value="NAM">Namibia</option>
								<option value="NRU">Nauru</option>
								<option value="NPL">Nepal</option>
								<option value="NLD">Netherlands</option>
								<option value="NCL">New Caledonia</option>
								<option value="NZL">New Zealand</option>
								<option value="NIC">Nicaragua</option>
								<option value="NER">Niger</option>
								<option value="NGA">Nigeria</option>
								<option value="NIU">Niue</option>
								<option value="NFK">Norfolk Island</option>
								<option value="MNP">Northern Mariana Islands</option>
								<option value="NOR">Norway</option>
								<option value="OMN">Oman</option>
								<option value="PAK">Pakistan</option>
								<option value="PLW">Palau</option>
								<option value="PSE">Palestinian Territory, Occupied</option>
								<option value="PAN">Panama</option>
								<option value="PNG">Papua New Guinea</option>
								<option value="PRY">Paraguay</option>
								<option value="PER">Peru</option>
								<option value="PHL">Philippines</option>
								<option value="PCN">Pitcairn</option>
								<option value="POL">Poland</option>
								<option value="PRT">Portugal</option>
								<option value="PRI">Puerto Rico</option>
								<option value="QAT">Qatar</option>
								<option value="REU">Réunion</option>
								<option value="ROU">Romania</option>
								<option value="RUS">Russian Federation</option>
								<option value="RWA">Rwanda</option>
								<option value="BLM">Saint Barthélemy</option>
								<option value="SHN">Saint Helena, Ascension and Tristan da Cunha</option>
								<option value="KNA">Saint Kitts and Nevis</option>
								<option value="LCA">Saint Lucia</option>
								<option value="MAF">Saint Martin (French part)</option>
								<option value="SPM">Saint Pierre and Miquelon</option>
								<option value="VCT">Saint Vincent and the Grenadines</option>
								<option value="WSM">Samoa</option>
								<option value="SMR">San Marino</option>
								<option value="STP">Sao Tome and Principe</option>
								<option value="SAU">Saudi Arabia</option>
								<option value="SEN">Senegal</option>
								<option value="SRB">Serbia</option>
								<option value="SYC">Seychelles</option>
								<option value="SLE">Sierra Leone</option>
								<option value="SGP">Singapore</option>
								<option value="SXM">Sint Maarten (Dutch part)</option>
								<option value="SVK">Slovakia</option>
								<option value="SVN">Slovenia</option>
								<option value="SLB">Solomon Islands</option>
								<option value="SOM">Somalia</option>
								<option value="ZAF">South Africa</option>
								<option value="SGS">South Georgia and the South Sandwich Islands</option>
								<option value="SSD">South Sudan</option>
								<option value="ESP">Spain</option>
								<option value="LKA">Sri Lanka</option>
								<option value="SDN">Sudan</option>
								<option value="SUR">Suriname</option>
								<option value="SJM">Svalbard and Jan Mayen</option>
								<option value="SWZ">Swaziland</option>
								<option value="SWE">Sweden</option>
								<option value="CHE">Switzerland</option>
								<option value="SYR">Syrian Arab Republic</option>
								<option value="TWN">Taiwan, Province of China</option>
								<option value="TJK">Tajikistan</option>
								<option value="TZA">Tanzania, United Republic of</option>
								<option value="THA">Thailand</option>
								<option value="TLS">Timor-Leste</option>
								<option value="TGO">Togo</option>
								<option value="TKL">Tokelau</option>
								<option value="TON">Tonga</option>
								<option value="TTO">Trinidad and Tobago</option>
								<option value="TUN">Tunisia</option>
								<option value="TUR">Turkey</option>
								<option value="TKM">Turkmenistan</option>
								<option value="TCA">Turks and Caicos Islands</option>
								<option value="TUV">Tuvalu</option>
								<option value="UGA">Uganda</option>
								<option value="UKR">Ukraine</option>
								<option value="ARE">United Arab Emirates</option>
								<option value="GBR">United Kingdom</option>
								<option value="USA" selected="selected">United States</option>
								<option value="UMI">United States Minor Outlying Islands</option>
								<option value="URY">Uruguay</option>
								<option value="UZB">Uzbekistan</option>
								<option value="VUT">Vanuatu</option>
								<option value="VEN">Venezuela, Bolivarian Republic of</option>
								<option value="VNM">Viet Nam</option>
								<option value="VGB">Virgin Islands, British</option>
								<option value="VIR">Virgin Islands, U.S.</option>
								<option value="WLF">Wallis and Futuna</option>
								<option value="ESH">Western Sahara</option>
								<option value="YEM">Yemen</option>
								<option value="ZMB">Zambia</option>
								<option value="ZWE">Zimbabwe</option>
							</select>
							</div>
							<div class="col-xs-1 opsportal-nopadding hris-form-help"><a href="#" class="some-class po-help" data-content="Enter the issuing country." data-placement="top" data-trigger="hover"><i class="fa fa-question-circle fa-lg"></i></a></div>
					</div>

							<div class="row opsportal-margin-top">
									<label class="col-xs-4 control-label" for="textinput">Issue Date *</label>  
									<div class="col-xs-7"><input id="textinput" type="text" type="text" class="form-control input-md hris-form-datepicker" value="01/01/2010"></div>
									<div class="col-xs-1 opsportal-nopadding hris-form-help"><a href="#" class="some-class po-help" data-content="Enter the date of issue." data-placement="top" data-trigger="hover"><i class="fa fa-question-circle fa-lg"></i></a></div>
							</div>
							
							<div class="row opsportal-margin-top">
									<label class="col-xs-4 control-label" for="textinput">Expiration Date *</label>  
									<div class="col-xs-7"><input id="textinput" type="text" type="text" class="form-control input-md hris-form-datepicker" value="01/01/2020"></div>
									<div class="col-xs-1 opsportal-nopadding hris-form-help"><a href="#" class="some-class po-help" data-content="Enter the date of expiration." data-placement="top" data-trigger="hover"><i class="fa fa-question-circle fa-lg"></i></a></div>
							</div>
							
						</div>
					</div>

					</fieldset>
					</form>
					</div> <!-- end #hris-user-legal -->
					
				</div><!-- .container -->

				<div class="modal-footer">
					<button type="button" class="btn opsportal-btn opsportal-btn-dk" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary pull-right opsportal-btn">Save</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		<!-- END PASSPORT INFORMATION -->
		
		<!-- VISA INFORMATION -->
		<div class="row" id="">
			<div class="col-xs-10 col-xs-offset-1 opsportal-content-block hris-user-summary">
				<div class="gen-btn-list">
					<h5 class="opsportal-content-block-title">Visa Information</h5>
				</div>
			
				<div class="row">
					<div class="col-xs-6 col-xs-offset-3">
						<div class="opsportal-launch-box"><a href="#" class="btn btn-lg btn-block opsportal-btn opsportal-btn-dk" role="button">Add <em>Visa</em> Information</a></div>
					</div>
				</div>
			</div>
		</div>
		<!-- END VISA INFORMATION -->
	
	</div> <!-- end hris-stage-main -->
	
	<!-- CONTENT BLOCK DIVIDER -->
	
	<!-- BASIC INFORMATION -->
	<div class="hris-stage-main" id="hris-user-basic-information" style="display: none;">

		<div class="gen-btn-list">
			<h2 class="opsportal-stage-title">Jonathan Smith &nbsp;|&nbsp; Basic Information</h2>
			<ul class="list-unstyled list-inline">
				<li><a href="#" class="btn opsportal-btn opsportal-btn-dk" role="button">Delete Jonathan</a></li>
			</ul>
		</div>
		
		<!-- PERSONAL INFORMATION -->
		<div class="row" id="">
			<div class="col-xs-10 col-xs-offset-1 opsportal-content-block hris-user-edit">
				<div class="gen-btn-list">
					<h5 class="opsportal-content-block-title">Personal Information</h5>
					<ul class="list-unstyled list-inline">
					<li><a href="#hris-edit-personal" class="btn opsportal-btn opsportal-btn-dk" role="button" data-toggle="modal">Edit <em>Personal Information</em></a></li>
					</ul>
				</div>
				
				<div class="row">
					<div class="col-xs-12">
					<table class="table opsportal-table hris-profile-table">
						<tbody>
							<tr>
								<td class="hris-profile-attr">Status</td>
								<td><strong>Awaiting Approval</strong></td>
							</tr>
						</tbody>
					</table>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-12">
						<table class="table opsportal-table hris-profile-table">
							<tbody>
								<tr>
									<td class="hris-profile-attr">Avatar</td>
									<td><div class="hris-edit-avatar"><img src="/images/avatar/man.jpg" class="hris-user-avatar" /><a href="#edit-avatar" title="Edit Avatar">Edit Avatar</a></div></td>
								</tr>
								<tr>
									<td class="hris-profile-attr">First Name</td>
									<td>Jonathan <span class="icon opsportal-item-icon tt"><a href="#" class="tt" title="Edit First Name" data-placement="left"><i class="fa fa-cog fa-fw hris-icon-fw"></i></a></span></td>
								</tr>
								<tr>
									<td class="hris-profile-attr">Middle Name/Initial:</td>
									<td> A. <span class="icon opsportal-item-icon tt"><a href="#" class="tt" title="Edit Middle Name/Initial" data-placement="left"><i class="fa fa-cog fa-fw hris-icon-fw"></i></a></span></td>
								</tr>
								<tr>
									<td class="hris-profile-attr">Last Name:</td>
									<td> Smith <span class="icon opsportal-item-icon tt"><a href="#" class="tt" title="Edit Last Name" data-placement="left"><i class="fa fa-cog fa-fw hris-icon-fw"></i></a></span></td>
								</tr>
								<tr>
									<td class="hris-profile-attr">Preferred Name:</td>
									<td> Jonathan <span class="icon opsportal-item-icon tt"><a href="#" class="tt" title="Edit Preferred Name" data-placement="left"><i class="fa fa-cog fa-fw hris-icon-fw"></i></a></span></td>
								</tr>
								<tr>
									<td class="hris-profile-attr">Name in Local Script:</td>
									<td> <span class="icon opsportal-item-icon tt"><a href="#" class="tt" title="Edit Name in Local Script" data-placement="left"><i class="fa fa-cog fa-fw hris-icon-fw"></i></a></span></td>
								</tr>
								<tr>
									<td class="hris-profile-attr">Name Pronunciation:</td>
									<td>  <span class="icon opsportal-item-icon tt"><a href="#" class="tt" title="Edit Name Pronunciation" data-placement="left"><i class="fa fa-cog fa-fw hris-icon-fw"></i></a></span></td>
								</tr>
								<tr>
									<td class="hris-profile-attr">Gender:</td>
									<td> Male <span class="icon opsportal-item-icon tt"><a href="#" class="tt" title="Edit Gender" data-placement="left"><i class="fa fa-cog fa-fw hris-icon-fw"></i></a></span></td>
								</tr>
								<tr>
									<td class="hris-profile-attr">Ethnicity:</td>
									<td>  <span class="icon opsportal-item-icon tt"><a href="#" class="tt" title="Edit Birth Date" data-placement="left"><i class="fa fa-cog fa-fw hris-icon-fw"></i></a></span></td>
								</tr>
								<tr>
									<td class="hris-profile-attr">Birth Date:</td>
									<td> 1978-10-22 <span class="icon opsportal-item-icon tt"><a href="#" class="tt" title="Edit Birth Date" data-placement="left"><i class="fa fa-cog fa-fw hris-icon-fw"></i></a></span></td>
								</tr>
								<tr>
									<td class="hris-profile-attr">Death Date:</td>
									<td> 1978-10-22 <span class="icon opsportal-item-icon tt"><a href="#" class="tt" title="Edit Birth Date" data-placement="left"><i class="fa fa-cog fa-fw hris-icon-fw"></i></a></span></td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div> <!-- END ROW -->
			</div>
		</div> <!-- END ROW -->
		
		<div class="row" id="">
			<div class="col-xs-10 col-xs-offset-1 opsportal-content-block hris-user-summary">
				<div class="gen-btn-list">
					<h5 class="opsportal-content-block-title">Account Information</h5>
					<ul class="list-unstyled list-inline">
					<li><a href="#" class="btn opsportal-btn opsportal-btn-dk" role="button" data-toggle="modal">Add <em>Account</em></a></li>
					</ul>
				</div>
			
				<div class="row">
						<div class="col-xs-12">
							<table class="table opsportal-table hris-profile-table-edit">
								<thead>
									<tr>
										<th>Account Number</th>
										<th>Country</th>
										<th>Primary Account</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1234567890</td>
										<td>United States</td>
										<td>Yes</td>
										<td>
											<span class="icon opsportal-item-icon tt"><a href="#hris-edit-account" class="tt" title="Edit Account Info" data-placement="top" data-toggle="modal"><i class="fa fa-pencil fa-fw hris-icon-fw"></i></a></span>
											<span class="icon opsportal-item-icon tt"><a href="#" class="tt" title="Delete Account Info" data-placement="top"><i class="fa fa-times fa-fw hris-icon-fw"></i></a></span>

										</td>
									</tr>
									<tr>
										<td>0987654321</td>
										<td>China</td>
										<td></td>
										<td>
											<span class="icon opsportal-item-icon tt"><a href="#hris-edit-account" class="tt" title="Edit Account Info" data-placement="top" data-toggle="modal"><i class="fa fa-pencil fa-fw hris-icon-fw"></i></a></span>
											<span class="icon opsportal-item-icon tt"><a href="#" class="tt" title="Delete Account Info" data-placement="top"><i class="fa fa-times fa-fw hris-icon-fw"></i></a></span>

										</td>
									</tr>

								</tbody>
							</table>
					</div>
				</div>
			</div>
		</div>
		
	
		<!-- DEPENDENT INFORMATION -->
		<div class="row" id="">
			<div class="col-xs-10 col-xs-offset-1 opsportal-content-block hris-user-summary">
				<div class="gen-btn-list">
					<h5 class="opsportal-content-block-title">Dependents Information</h5>
				</div>
			
				<div class="row">
					<div class="col-xs-6 col-xs-offset-3">
						<div class="opsportal-launch-box"><a href="#" class="btn btn-lg btn-block opsportal-btn opsportal-btn-dk" role="button">Add <em>Dependents</em> Information</a></div>
					</div>
				</div>
			</div>
		</div>
		<!-- END DEPENDENT INFORMATION -->
		
		<div class="modal fade" id="hris-edit-personal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Edit Personal Information</h4>
				</div>
				<div class="modal-body">
					<div class="hris-form-container" id="hris-edit-personal-form">
					<form class="form-horizontal">
					<fieldset>

					<!-- Form Name -->
					<legend class="hidden">Edit Personal Information</legend>

					<div class="form-group">
						<div class="col-xs-12">
							<div class="row opsportal-margin-top">
									<label class="col-xs-4 control-label" for="textinput">First Name *</label>  
									<div class="col-xs-7"><input id="textinput" name="textinput" type="text" placeholder="First Name" class="form-control input-md" value="Jonathan"></div>
									<div class="col-xs-1 opsportal-nopadding hris-form-help"><a href="#" class="some-class po-help" data-content="Enter the first name." data-placement="top" data-trigger="hover"><i class="fa fa-question-circle fa-lg"></i></a></div>
							</div>
							
							<div class="row opsportal-margin-top">
									<label class="col-xs-4 control-label" for="textinput">Middle Name/Initial</label>  
									<div class="col-xs-7"><input id="textinput" name="textinput" type="text" placeholder="Middle Name/Initial" class="form-control input-md" value="A."></div>
									<div class="col-xs-1 opsportal-nopadding hris-form-help"><a href="#" class="some-class po-help" data-content="Enter the middle name or initial." data-placement="top" data-trigger="hover"><i class="fa fa-question-circle fa-lg"></i></a></div>
							</div>
							
							<div class="row opsportal-margin-top">
									<label class="col-xs-4 control-label" for="textinput">Last Name *</label>  
									<div class="col-xs-7"><input id="textinput" name="textinput" type="text" placeholder="Last Name" class="form-control input-md" value="Smith"></div>
									<div class="col-xs-1 opsportal-nopadding hris-form-help"><a href="#" class="some-class po-help" data-content="Enter the last name." data-placement="top" data-trigger="hover"><i class="fa fa-question-circle fa-lg"></i></a></div>
							</div>
							
							<div class="row opsportal-margin-top">
									<label class="col-xs-4 control-label" for="textinput">Preferred Name</label>  
									<div class="col-xs-7"><input id="textinput" name="textinput" type="text" placeholder="Preferred Name" class="form-control input-md" value="Jonathan"></div>
									<div class="col-xs-1 opsportal-nopadding hris-form-help"><a href="#" class="some-class po-help" data-content="Enter the preferred name." data-placement="top" data-trigger="hover"><i class="fa fa-question-circle fa-lg"></i></a></div>
							</div>
							
							<div class="row opsportal-margin-top">
									<label class="col-xs-4 control-label" for="textinput">Name in Local Script</label>  
									<div class="col-xs-7"><input id="textinput" name="textinput" type="text" placeholder="Name in Local Script" class="form-control input-md" value=""></div>
									<div class="col-xs-1 opsportal-nopadding hris-form-help"><a href="#" class="some-class po-help" data-content="Enter the name in local script." data-placement="top" data-trigger="hover"><i class="fa fa-question-circle fa-lg"></i></a></div>
							</div>

							<div class="row opsportal-margin-top">
									<label class="col-xs-4 control-label" for="textinput">Name Pronunciation</label>  
									<div class="col-xs-7"><input id="textinput" name="textinput" type="text" placeholder="Name Pronunciation" class="form-control input-md" value=""></div>
									<div class="col-xs-1 opsportal-nopadding hris-form-help"><a href="#" class="some-class po-help" data-content="Enter the name pronunciation." data-placement="top" data-trigger="hover"><i class="fa fa-question-circle fa-lg"></i></a></div>
							</div>

							<div class="row opsportal-margin-top">
									<label class="col-xs-4 control-label" for="textinput">Gender</label>  
									<div class="col-xs-7"><input id="textinput" name="textinput" type="text" placeholder="Gender" class="form-control input-md" value="Male"></div>
									<div class="col-xs-1 opsportal-nopadding hris-form-help"><a href="#" class="some-class po-help" data-content="Enter the gender." data-placement="top" data-trigger="hover"><i class="fa fa-question-circle fa-lg"></i></a></div>
							</div>
							<div class="row opsportal-margin-top">
									<label class="col-xs-4 control-label" for="textinput">Ethnicity</label>  
									<div class="col-xs-7"><input id="textinput" name="textinput" type="text" placeholder="Ethnicity" class="form-control input-md" value=""></div>
									<div class="col-xs-1 opsportal-nopadding hris-form-help"><a href="#" class="some-class po-help" data-content="Enter the ethnicity." data-placement="top" data-trigger="hover"><i class="fa fa-question-circle fa-lg"></i></a></div>
							</div>

							<div class="row opsportal-margin-top">
									<label class="col-xs-4 control-label" for="textinput">Birth Date</label>  
									<div class="col-xs-7"><input id="textinput" type="text" type="text" class="form-control input-md hris-form-datepicker" value="01/01/1978"></div>
									<div class="col-xs-1 opsportal-nopadding hris-form-help"><a href="#" class="some-class po-help" data-content="Enter the birth date." data-placement="top" data-trigger="hover"><i class="fa fa-question-circle fa-lg"></i></a></div>
							</div>
							
							<div class="row opsportal-margin-top">
									<label class="col-xs-4 control-label" for="textinput">Death Date</label>  
									<div class="col-xs-7"><input id="textinput" type="text" type="text" class="form-control input-md hris-form-datepicker" value=""></div>
									<div class="col-xs-1 opsportal-nopadding hris-form-help"><a href="#" class="some-class po-help" data-content="Enter the date of death." data-placement="top" data-trigger="hover"><i class="fa fa-question-circle fa-lg"></i></a></div>
							</div>
							
						</div>
					</div>

					</fieldset>
					</form>
					</div> <!-- end #hris-user-legal -->
					
				</div><!-- .container -->

				<div class="modal-footer">
					<button type="button" class="btn opsportal-btn opsportal-btn-dk" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary pull-right opsportal-btn">Save</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	
	</div> <!-- end hris-stage-main -->
	
	
	
	
	<!-- CONTENT BLOCK DIVIDER -->
	
	
		
	
	<!-- OVERVIEW PAGE CONTENT -->
	<div class="hris-stage-main" id="hris-user-overview">

		<div class="gen-btn-list">
			<h2 class="opsportal-stage-title">Jonathan Smith &nbsp;|&nbsp; Overview</h2>
			<ul class="list-unstyled list-inline">
	
			<li><a href="#hris-delete-user" class="btn opsportal-btn opsportal-btn-dk" role="button" data-toggle="modal">Delete Jonathan</a></li>
			</ul>
		</div>
		
		<div class="modal fade" id="hris-delete-user" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-12">
							<p class="text-center">Are you sure you want to delete user <strong>Jonathan A. Smith</strong>?</p>
						</div>
					</div>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn opsportal-btn opsportal-btn-dk" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary pull-right opsportal-btn">Delete</button>
				</div>
		    </div>
		  </div>
		</div>
		
		<!-- HRIS User Summary Filter -->
		<div class="center-block opsportal-filter">
			<ul class="nav">
				<li class="opsportal-filter-label">Filter: </li>
				<li><a href="#" id="filter-profile-default" class="opsportal-filter-tag filter-on" data-hris-filter="hris-user-overview-summary">Summary</a></li>
				<li><a href="#" id="filter-profile-basic" class="opsportal-filter-tag" data-hris-filter="hris-user-overview-basic-information">Basic Information</a></li>
				<li><a href="#" id="filter-profile-contact" class="opsportal-filter-tag" data-hris-filter="hris-user-overview-contact">Contact</a></li>
				<li><a href="#" id="filter-profile-worker" class="opsportal-filter-tag" data-hris-filter="hris-user-overview-worker-information">Worker Information</a></li>
				<li><a href="#" id="filter-profile-language" class="opsportal-filter-tag" data-hris-filter="hris-user-overview-language">Language</a></li>
				<li><a href="#" id="filter-profile-medical" class="opsportal-filter-tag" data-hris-filter="hris-user-overview-medical">Medical</a></li>
				<li><a href="#" id="filter-profile-legal" class="opsportal-filter-tag" data-hris-filter="hris-user-overview-legal">Legal</a></li>
			</ul>
		</div>
	

		<div class="row" id="hris-user-overview-summary">
			<div class="col-xs-10 col-xs-offset-1 opsportal-content-block">
				<div class="gen-btn-list">
					<h5 class="opsportal-content-block-title">Summary</h5>
				</div>
			
				<div class="row">
					<div class="col-xs-2"><img src="/images/avatar/man.jpg" class="hris-user-avatar" /></div>
					<div class="col-xs-5">
						<ul class="list-unstyled">
							<li><strong>Name:</strong> Jonathan A. Smith</li>
							<li><strong>Gender:</strong> Male</li>
							<li><strong>Birth Date:</strong> 1978-10-22</li>
							<li><strong>Type:</strong> Worker</li>
							<li><strong>Status:</strong> <span class="text-danger">Awaiting Approval</span></li>
						
						</ul>
					</div>
					<div class="col-xs-5">
						<ul class="list-unstyled">
							<li><strong>Primary Account Number:</strong> 1234567890</li>
							<li><strong>Primary Account Country:</strong> USA</li>
							<li><strong>Primary Email:</strong> name@domain.com</li>
							<li><strong>Primary Citizenship:</strong> USA</li>
							<li><strong>Preferred Language:</strong> English</li>
						
						</ul>
					</div>
				</div>
		
			</div>
		</div>
	
		<div class="row" id="hris-user-overview-basic-information" style="display: none;">
			<div class="col-xs-10 col-xs-offset-1 opsportal-content-block">
				<div class="gen-btn-list">
					<h5 class="opsportal-content-block-title">Basic Information</h5>
					<ul class="list-unstyled list-inline">
					<li><a href="#" class="btn opsportal-btn opsportal-btn-dk" role="button">Edit <em>Basic Information</em></a></li>
					</ul>
				</div>
			
				<div class="row">
					<!-- <div class="col-xs-3"><img src="/images/avatar/man.jpg" class="hris-user-avatar" /></div> -->
					<div class="col-xs-12">
					
						<table class="table opsportal-table hris-profile-table">
							<tbody>
								<tr>
									<td class="hris-profile-attr">Avatar</td>
									<td><div class="hris-edit-avatar"><img src="/images/avatar/man.jpg" class="hris-user-avatar" /><a href="#edit-avatar" title="Edit Avatar">Edit Avatar</a></div></td>
								</tr>
								<tr>
									<td class="hris-profile-attr">First Name</td>
									<td>Jonathan <span class="text-danger">(Pending Approval)</span> <span class="icon opsportal-item-icon tt"><a href="#" class="tt" title="Edit First Name" data-placement="left"><i class="fa fa-cog fa-fw hris-icon-fw"></i></a></span></td>
								</tr>
								<tr>
									<td class="hris-profile-attr">Middle Name/Initial:</td>
									<td> A. <span class="icon opsportal-item-icon tt"><a href="#" class="tt" title="Edit Middle Name/Initial" data-placement="left"><i class="fa fa-cog fa-fw hris-icon-fw"></i></a></span></td>
								</tr>
								<tr>
									<td class="hris-profile-attr">Last Name:</td>
									<td> Smith <span class="icon opsportal-item-icon tt"><a href="#" class="tt" title="Edit Last Name" data-placement="left"><i class="fa fa-cog fa-fw hris-icon-fw"></i></a></span></td>
								</tr>
								<tr>
									<td class="hris-profile-attr">Preferred Name:</td>
									<td> Jonathan <span class="icon opsportal-item-icon tt"><a href="#" class="tt" title="Edit Preferred Name" data-placement="left"><i class="fa fa-cog fa-fw hris-icon-fw"></i></a></span></td>
								</tr>
								<tr>
									<td class="hris-profile-attr">Name in Local Script:</td>
									<td> <span class="icon opsportal-item-icon tt"><a href="#" class="tt" title="Edit Name in Local Script" data-placement="left"><i class="fa fa-cog fa-fw hris-icon-fw"></i></a></span></td>
								</tr>
								<tr>
									<td class="hris-profile-attr">Name Pronunciation:</td>
									<td>  <span class="icon opsportal-item-icon tt"><a href="#" class="tt" title="Edit Name Pronunciation" data-placement="left"><i class="fa fa-cog fa-fw hris-icon-fw"></i></a></span></td>
								</tr>
								<tr>
									<td class="hris-profile-attr">Gender:</td>
									<td> Male <span class="icon opsportal-item-icon tt"><a href="#" class="tt" title="Edit Gender" data-placement="left"><i class="fa fa-cog fa-fw hris-icon-fw"></i></a></span></td>
								</tr>
								<tr>
									<td class="hris-profile-attr">Ethnicity:</td>
									<td> <span class="icon opsportal-item-icon tt"><a href="#" class="tt" title="Edit Birth Date" data-placement="left"><i class="fa fa-cog fa-fw hris-icon-fw"></i></a></span></td>
								</tr>
								<tr>
									<td class="hris-profile-attr">Birth Date:</td>
									<td> 1978-10-22 <span class="icon opsportal-item-icon tt"><a href="#" class="tt" title="Edit Birth Date" data-placement="left"><i class="fa fa-cog fa-fw hris-icon-fw"></i></a></span></td>
								</tr>
								<tr>
									<td class="hris-profile-attr">Death Date:</td>
									<td> 1978-10-22 <span class="icon opsportal-item-icon tt"><a href="#" class="tt" title="Edit Birth Date" data-placement="left"><i class="fa fa-cog fa-fw hris-icon-fw"></i></a></span></td>
								</tr>
							</tbody>
						</table>
						
						<table class="table opsportal-table hris-profile-table-edit">
							<thead>
								<tr>
									<th>Account Number</th>
									<th>Country</th>
									<th>Primary Account</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1234567890</td>
									<td>United States</td>
									<td>Yes</td>
									<td>
										<span class="icon opsportal-item-icon tt"><a href="#hris-edit-account" class="tt" title="Edit Account Info" data-placement="top" data-toggle="modal"><i class="fa fa-pencil fa-fw hris-icon-fw"></i></a></span>
										<span class="icon opsportal-item-icon tt"><a href="#" class="tt" title="Delete Account Info" data-placement="top"><i class="fa fa-times fa-fw hris-icon-fw"></i></a></span>

									</td>
								</tr>
								<tr>
									<td>0987654321</td>
									<td>China</td>
									<td></td>
									<td>
										<span class="icon opsportal-item-icon tt"><a href="#hris-edit-account" class="tt" title="Edit Account Info" data-placement="top" data-toggle="modal"><i class="fa fa-pencil fa-fw hris-icon-fw"></i></a></span>
										<span class="icon opsportal-item-icon tt"><a href="#" class="tt" title="Delete Account Info" data-placement="top"><i class="fa fa-times fa-fw hris-icon-fw"></i></a></span>

									</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
		
			</div>
		</div>
		
		<div class="row" id="hris-user-overview-contact" style="display: none;">
			<div class="col-xs-10 col-xs-offset-1 opsportal-content-block">
				<div class="gen-btn-list">
					<h5 class="opsportal-content-block-title">Contact</h5>
				</div>
			
				<div class="row">
					<div class="col-xs-12">
					
						<table class="table opsportal-table hris-profile-table">
							<tbody>
								<tr>
									<td class="hris-profile-attr">Attribute Name</td>
									<td>Attribute Value <span class="icon opsportal-item-icon tt"><a href="#" class="tt" title="Edit Attribute" data-placement="left"><i class="fa fa-cog fa-fw hris-icon-fw"></i></a></span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		
			</div>
		</div>
		
		<div class="row" id="hris-user-overview-worker-information" style="display: none;">
			<div class="col-xs-10 col-xs-offset-1 opsportal-content-block">
				<div class="gen-btn-list">
					<h5 class="opsportal-content-block-title">Worker Information</h5>
				</div>
			
				<div class="row">
					<div class="col-xs-12">
					
						<table class="table opsportal-table hris-profile-table">
							<tbody>
								<tr>
									<td class="hris-profile-attr">Attribute Name</td>
									<td>Attribute Value <span class="icon opsportal-item-icon tt"><a href="#" class="tt" title="Edit Attribute" data-placement="left"><i class="fa fa-cog fa-fw hris-icon-fw"></i></a></span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		
			</div>
		</div>
		
		<div class="row" id="hris-user-overview-language" style="display: none;">
			<div class="col-xs-10 col-xs-offset-1 opsportal-content-block">
				<div class="gen-btn-list">
					<h5 class="opsportal-content-block-title">Language</h5>
				</div>
			
				<div class="row">
					<div class="col-xs-12">
					
						<table class="table opsportal-table hris-profile-table">
							<tbody>
								<tr>
									<td class="hris-profile-attr">Attribute Name</td>
									<td>Attribute Value <span class="icon opsportal-item-icon tt"><a href="#" class="tt" title="Edit Attribute" data-placement="left"><i class="fa fa-cog fa-fw hris-icon-fw"></i></a></span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		
			</div>
		</div>
		
		<div class="row" id="hris-user-overview-medical" style="display: none;">
			<div class="col-xs-10 col-xs-offset-1 opsportal-content-block">
				<div class="gen-btn-list">
					<h5 class="opsportal-content-block-title">Medical</h5>
				</div>
			
				<div class="row">
					<div class="col-xs-12">
					
						<table class="table opsportal-table hris-profile-table">
							<tbody>
								<tr>
									<td class="hris-profile-attr">Attribute Name</td>
									<td>Attribute Value <span class="icon opsportal-item-icon tt"><a href="#" class="tt" title="Edit Attribute" data-placement="left"><i class="fa fa-cog fa-fw hris-icon-fw"></i></a></span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		
			</div>
		</div>
	
		<div class="row" id="hris-user-overview-legal" style="display: none;">
			<div class="col-xs-10 col-xs-offset-1 opsportal-content-block">
				<div class="gen-btn-list">
					<h5 class="opsportal-content-block-title">Legal</h5>
				</div>
			
				<div class="row">
					<div class="col-xs-12">
					
						<table class="table opsportal-table hris-profile-table">
							<tbody>
								<tr>
									<td class="hris-profile-attr">Attribute Name</td>
									<td>Attribute Value <span class="icon opsportal-item-icon tt"><a href="#" class="tt" title="Edit Attribute" data-placement="left"><i class="fa fa-cog fa-fw hris-icon-fw"></i></a></span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		
			</div>
		</div>
	</div> <!-- end hris-stage-main -->

	<!-- CONTENT BLOCK DIVIDER -->
	
	
	<br /><br /><br />

</div> <!-- end hris-stage-container -->