<div class="row op-container">
	<div class='col-xs-2 op-container hris-user-widget'></div>
	<div class='col-xs-2 op-container hris-user-profile-widget'></div>
	
	<div class='col-xs-8 op-container op-stage'>
	    <div class='op-container tool-hris-user-summary'></div>
	    <div class='op-container tool-hris-user-view'></div>
	    <div class='op-container tool-hris-user-edit'></div>
	</div>
</div>