<div class="row">
	<div class='col-xs-2 hris-user-widget'></div>
	<div class='col-xs-2 hris-user-profile-widget'></div>
	
	<div class='col-xs-8 opsportal-stage'>
	    <div class='tool-hris-user-summary'></div>
	    <div class='tool-hris-user-view'></div>
	    <div class='tool-hris-user-edit'></div>
	</div>			
</div>