	<div class="opsportal" id="hris-user-widget">
		<div class="hris-list-user opsportal-widget-inner">
			<div class="genlist-widget-inner opsportal-widget-container">
				<div class="opsportal-widget-masthead">
					<div class="opsportal-widget-title-container">
						<h2 class="opsportal-widget-title">Welcome, Jonathan</h2>
					</div>
		
					<div class="opsportal-widget-meta"><p class="opsportal-widget-meta-desc">Select the individual to view more profile information.</p></div>
	    		</div>
				
			<div class="opsportal-nav-list">
        		<ul class="genlist-list list-unstyled" id="hris-user-list">
					<li class="genlist-item genlist-active genlist-active-object">
						<div class="opsportal-nav-list-item">
							<span class=""><img src="/images/avatar/man.jpg" class="opsportal-user-avatar opsportal-user-avatar-th" /></span>Jonathan
							<div class="icons">
								<a href="#" class="po" data-placement="right"><span class="icon"><i class="fa fa-times fa-fw"></i></span></a>
								<div class="po-title hide" id="">Delete XXXXX</div>
								<div class="po-content hide" id="">
								  <p>Are you sure you want to delete XXXXX?</p>
									<div class="col-xs-12 pull-right po-buttons">
										<button id="button1id" name="button1id" class="btn btn-primary pull-right hris-btn">Delete</button>
										<button id="button2id" name="button2id" class="btn pull-right hris-btn hris-btn-lt">Cancel</button>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="genlist-item">
						<div class="opsportal-nav-list-item">
							<span class=""><img src="/images/avatar/woman.jpg" class="opsportal-user-avatar opsportal-user-avatar-th" /></span>Elizabeth
							<div class="icons">
								<a href="#" class="po" data-placement="right"><span class="icon"><i class="fa fa-times fa-fw"></i></span></a>
								<div class="po-title hide" id="">Delete XXXXX</div>
								<div class="po-content hide" id="">
								  <p>Are you sure you want to delete XXXXX?</p>
									<div class="col-xs-12 pull-right po-buttons">
										<button id="button1id" name="button1id" class="btn btn-primary pull-right hris-btn">Delete</button>
										<button id="button2id" name="button2id" class="btn pull-right hris-btn hris-btn-lt">Cancel</button>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="genlist-item">
						<div class="opsportal-nav-list-item">
							<span class=""><img src="/images/avatar/boy.jpg" class="opsportal-user-avatar opsportal-user-avatar-th" /></span>Alpha
							<div class="icons">
								<a href="#" class="po" data-placement="right"><span class="icon"><i class="fa fa-times fa-fw"></i></span></a>
								<div class="po-title hide" id="">Delete XXXXX</div>
								<div class="po-content hide" id="">
								  <p>Are you sure you want to delete XXXXX?</p>
									<div class="col-xs-12 pull-right po-buttons">
										<button id="button1id" name="button1id" class="btn btn-primary pull-right hris-btn">Delete</button>
										<button id="button2id" name="button2id" class="btn pull-right hris-btn hris-btn-lt">Cancel</button>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="genlist-item">
						<div class="opsportal-nav-list-item">
							<span class=""><img src="/images/avatar/girl.jpg" class="opsportal-user-avatar opsportal-user-avatar-th" /></span>Omega
							<div class="icons">
								<a href="#" class="po" data-placement="right"><span class="icon"><i class="fa fa-times fa-fw"></i></span></a>
								<div class="po-title hide" id="">Delete XXXXX</div>
								<div class="po-content hide" id="">
								  <p>Are you sure you want to delete XXXXX?</p>
									<div class="col-xs-12 pull-right po-buttons">
										<button id="button1id" name="button1id" class="btn btn-primary pull-right hris-btn">Delete</button>
										<button id="button2id" name="button2id" class="btn pull-right hris-btn hris-btn-lt">Cancel</button>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="opsportal-widget-bottom-btn">
			<a class="opsportal-modal tt" id="hris-user-add" href="#" title="Add Family Member"><span class="icon"><i class="fa fa-plus fa-fw"></i></span></a>
		</div>
		
	</div>