<div class="op-container op-widget" id="hris-user-profile-widget">

	<div class="op-widget-masthead">
		<h3>User Information</h3>
		<p>Select the <em>Summary</em> link or individual category links to view user information.</p>
	</div>

	<div class="op-widget-body">
		<ul class="op-list">
			<li class="op-container active" data-hris-attr="hris-user-overview">
				<span title="" data-original-title="" class="icon op-icon tt"><i class="fa fa-info fa-fw op-icon-fw"></i></span>Overview
			</li>
			<li class="op-container" data-hris-attr="hris-user-basic-information">
				<span title="" data-original-title="" class="icon op-icon tt"><i class="fa fa-user fa-fw op-icon-fw"></i></span>Basic Information
			</li>
			<li class="op-container" data-hris-attr="hris-user-contact">
				<span title="" data-original-title="" class="icon op-icon tt"><i class="fa fa-envelope fa-fw op-icon-fw"></i></span>Contact
			</li>
			<li class="op-container" data-hris-attr="hris-user-worker-information">
				<span title="" data-original-title="" class="icon op-icon tt"><i class="fa fa-clock-o fa-fw op-icon-fw"></i></span>Worker Information
			</li>
			<li class="op-container" data-hris-attr="hris-user-language">
				<span title="" data-original-title="" class="icon op-icon tt"><i class="fa fa-fire fa-fw op-icon-fw"></i></span>Language
			</li>
			<li class="op-container" data-hris-attr="hris-user-medical">
				<span title="" data-original-title="" class="icon op-icon tt"><i class="fa fa-medkit fa-fw op-icon-fw"></i></span>Medical
			</li>
			<li class="op-container" data-hris-attr="hris-user-legal">
				<span title="" data-original-title="" class="icon op-icon tt"><i class="fa fa-legal fa-fw op-icon-fw"></i></span>Legal
			</li>
		</ul>
	</div>
			
</div> <!-- end #hris-user-profile-widget -->